<h1>Database</h1>
<p>
  <strong>Name:</strong>
  <%= @db.name %>
</p>
<p>
  <strong>Host:</strong>
  <%= @db.host %>
</p>
<p>
  <strong>DB Schema:</strong>
  <%= @db.dbschema %>
</p>

<%= link_to 'Back', databases_path %>
